@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

/* 
body {
  font-family: "Jost", sans-serif;
} */

.svg-container:hover svg {
  fill: #fbb033; /* Change the fill color of the SVG icon when the parent div is hovered */
}

input[type="date"]::-webkit-calendar-picker-indicator {
  /* color: white; */
  filter: brightness(0) invert(1);
  /* opacity: 1;
  display: block;
  background: url(https://mywildalberta.ca/images/GFX-MWA-Parks-Reservations.png)
    no-repeat;
  width: 20px;
  height: 20px;
  border-width: thin; */
}

.dot-leaders {
  display: flex;
  align-items: end;
}

.dot-leaders span {
  /* align-self: end; */
  margin-bottom: 5px;
  margin-left: 3px;
  margin-right: 3px;
  white-space: nowrap;
}

.dot-leaders .dot-line {
  flex-grow: 1;
  border-bottom: 1px dotted white;
}
@media screen and (min-width: 1440px) {
  .Navbar {
    display: block;
  }
}

@media screen and (min-width: 700px) and (max-width: 1440px) {
  .Navbar {
    display: block;
  }
}

@media screen and (max-width: 700px) {
  .Navbar {
    display: none;
  }
}
